settings = {
    secret: "Change me to something super-secret and unique",
    port: 3000,

    // how many awesome names to list on the stats page
    stats_length: 10,

    // how many times in a row someone can vote for the same band
    max_consecutive_votes: 5,

    auth: {

        // for facebook connectivity, fill these in:
        facebook: {
            app_id: 0,
            api_key: "",
            app_secret: "",
        }
    }
}
