!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', media='all')
    script(type='text/javascript', src="http://use.typekit.com/apf1hll.js")
    script(type='text/javascript', src="/javascripts/head.js")
    :javascript
      | try{ Typekit.load(); } catch(e) {}
      
  body
    !=partial('header')
    #content!= body

    #fb-root

  :javascript
    | head.js({jquery: "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"},
    |         {battle: "/javascripts/battle.js"});
    | head(function() { 
    |   $("#battle").fadeIn();
    | });
