!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', media='all')
    script(type='text/javascript', src="/javascripts/head.js")
    :javascript
      | // script(type='text/javascript', src="http://use.typekit.com/apf1hll.js")
      | // try{ Typekit.load(); } catch(e) {}
  body
    !=partial('header')
    #content!= body


  
