#stats

  p
    ul
      - for (var i in best)
        li
          b.awesome
            a(href='/battle/'+best[i].slug) #{best[i].name} 
            span.dim (#{best[i].votes})


  p &nbsp;
    
  p
    i.red Worst ever

  p
    b.crap 
      a(href='/battle/'+worst.slug) #{worst.name} 
      span.dim (#{worst.votes})

