#stats

  p
    ul
      - for (var i in best)
        li
          b.awesome
            a(href='/battle/'+best[i].slug) #{best[i].name}  
            - if (i == 0)
              span.red &#x2605;  
              span.dim #{best[i].popularity}% love

  p &nbsp;
    
  p
    i.red Worst ever

  p
    b.crap 
      a(href='/battle/'+worst.slug) #{worst.name}   
      span.dim #{100 - worst.popularity}% hate

