#battle
  p.small 
    i Best band name (#{best_votes} votes)

  p
    b.awesome #{best_name}

  p &nbsp;
    

  p.small 
    i Worst band name (#{worst_votes} votes)

  p
    b.crap #{worst_name}

:javascript
  | head.js({jquery: "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"});
  | head(function(){ $('#battle').fadeIn(); });
